<h1 class="text-center"><%= @list.name %></h1>
<div class="card mx-auto">
  <div class="card-body">
    <div class="container grid text-center">
		<table class="table table-secondary table-striped table-bordered table-sm">
  <tr>
    <th scope="col">Tarefa</th>
  </tr>
  <% @items.each do |item| %>
    <div class="g-col-3 g-start-2">
      <%= form_for([@list, item]) do |f| %>
        <tr>
          <td>
            <%= f.check_box :completed, :class => 'toggle', :onchange => 'this.form.submit()' %>
            <%= label_tag "item_#{item.id}", item.description, :class => item.completed ? 'completed' : '' %>
          </td>
        </tr>
      <% end %>
    </div>
  <% end %>      
</table>

	</div>
  </div>
</div>
<div class="text-center">
	<%= form_for([@list, @list.items.build]) do |f| %>
		<p>
			<%= f.text_field :description, :placeholder => 'Descrição do item' %>
			<%= f.submit 'Adicionar Item', class: 'btn btn-success' %>
		</p>
	<% end %>
	<%= link_to 'Voltar', lists_path, class: 'btn btn-primary' %>
</div>